<div class="container">
  <h3 class="text-center pt-2">Player sign up</h3>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= render partial: './errors', locals: {errors: @errors} %>
    </div>
  </div>
  <%= form_for :players, url: '/players' do |f| %>
    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'validate form-control' %>
      </div>
    </div>
    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'validate form-control' %>
      </div>
    </div>

    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'validate form-control' %>
      </div>
    </div>

    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.submit 'Create Account', :class => "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>