<div class="container">
  <h3 class="text-center pt-2">Player sign up</h3>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= render partial: './errors', locals: {errors: @errors} %>
    </div>
  </div>
  <%= form_for :players, url: '/players' do |f| %>
    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.text_field :first_name, placeholder: 'First Name', class: 'validate form-control'%>
      </div>
    </div>
    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.text_field :last_name, placeholder: 'Last Name', class: 'validate form-control' %>
      </div>
    </div>

    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.email_field :email, placeholder: 'Email', class: 'validate form-control' %>
        <p><small>(This will only be used for sign in. I won't email you)</small></p>
      </div>
    </div>

    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.password_field :password, placeholder: 'Password', class: 'validate form-control' %>
        <p><small>(It's encrypted. I won't know your password)</small></p>
      </div>
    </div>

    <div class="row justify-content-center pt-1">
      <div class="col-md-4">
        <%= f.submit 'Create Account', :class => "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>