<!DOCTYPE html>
<html>
  <head>
    <title>GoTDeadPool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <% if logged_in? %>
        <% if @pool_available %>
        <a class="btn btn-outline-primary" href="/player_pools/<%= @pool_id %>/edit" role="button">Edit Dead Pool</a>
        <% else %>
        <a class="btn btn-outline-primary" href="/player_pools/new" role="button">Submit Dead Pool</a>
        <% end %>
        <% end %>
      </div>
      
      <div class="mx-auto order-0 text-center">
          <a class="navbar-brand" href="/">Game of Thrones Season 8 Dead Pool</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <% if logged_in? %>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/player_pools">Leaderboard</a>
              </li>
              <li>
                <%= link_to 'Sign out', session_path(session[:session_id]), method: :delete, :class => "nav-link"%>
              </li>
          </ul>
          <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
